/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

@supports (font-variation-settings: normal) {
  .page {
      font-family: var(--main-font), sans-serif;
  }
}

.page {
  margin: 0 auto;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--accent-font-text-weight);
  background-color: var(--bg-color);
  color: var(--text-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: var(--background-image);
  max-width: 696px;
  align-self: center;
  justify-self: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 100px;
  max-block-size: clamp(20.438rem, 19.535rem + 3.85vw, 23rem);
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  margin-bottom: 102px;
  text-transform: uppercase;
  font-family: var(--accent-font), fantasy;
  padding: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem) clamp(0.875rem, -1.469rem + 10vw, 7.531rem) 25px clamp(0.875rem, -1.469rem + 10vw, 7.531rem);
}

.header-logo-title {
  font-size: var(--font-size-logo-title);
}

.header-logo-text {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: var(--font-size-logo-text);
}


.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-size: 14px;
  align-items: flex-start;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding-left: 26px;
  transition: color 0.3s ease;
  display: inline-block;
  overflow: hidden;
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
    color: var(--button-active-color);
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 26px;
  height: 2px;
  display: block;
  width: 100%;
  background-color: var(--button-active-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(0.64);
  outline: none;
  overflow: hidden;
}

.theme-menu__button:focus {
  outline: none;
  color: var(--button-active-color);
}

.theme-menu__button::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  animation: moveArrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:disabled::before {
  content: "▶";
  font-size: 14px;
}

.card {
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  margin-bottom: 54px;
}

.card-title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--accent-font-title-weight);
  padding: 4px 10px 6px 10px;
  border-bottom: 2px solid var(--text-color);
}

.card-content {
  padding: 29px 28.5px 0px 25px;
  font-size: 18px;
  border-top: 2px solid var(--text-color);
}

@media (width < 768px) {
  .card-content {
    padding: 25px 28.5px 0px 25px;
  }
  .card {
    margin-bottom: 51px;
  }
}

.card-content-text:not(:last-child) {
  margin-bottom: 25px;
}

.image-container {
  position: relative;
}

.card-image {
  display: block;
  width: 100%;
  height: 100%;
}

.image-blur {
  filter: blur(5px);
}

.image-brightness {
  filter: brightness(50%);
}

.image-contrast {
  filter: contrast(198%);
}

.image-hue-rotate {
  filter: hue-rotate(0.5turn);
}

.image-saturate {
  filter: saturate(198%);
}

.image-sepia {
  filter: sepia(0.6);
}

.image-grayscale-blur {
  filter: grayscale(70%) blur(3px);
}

.label {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 14px;
  color: var(--text-color);
  font-family: var(--accent-font), fantasy;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 0px 0px 2px var(--text-label-color), 0px 0px 4px var(--text-label-color), 0px 0px 6px var(--text-label-color), 0px 0px 8px var(--text-label-color);
}

@media (width < 768px) {
  .label {
    top: 22px;
    right: 13px;
  }
}

@supports((text-stroke: 1px var(--text-label-color)) or (-webkit-text-stroke: 1px var(--text-label-color))) {
  .label {
      -webkit-text-stroke: 1px var(--text-label-color);
      text-stroke: 1px var(--text-label-color);
      text-shadow: none;
  }
}

.buttons {
  margin-top: 25px;
  margin-bottom: 20px;
  margin-right: 23px;
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  color: var(--text-color);
}


@media (width < 768px) {
  .buttons {
    margin-top: 23px;
    margin-bottom: 21px;
  }
}

.text-button {
  font-size: 14px;
  font-family: var(--accent-font), fantasy;
  line-height: 120%;
  color: var(--button-color);
  position: relative;
  cursor: pointer;
  border: 2px solid var(--text-color);
}

.text-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--text-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
}

.card__icon-button {
  background-color: transparent;
  padding: 0px;
  max-height: 38px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: var(--text-color);
}


.button-container {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-bottom: 100px;
}

.save-button {
  color: var(--button-color);
  background-color: var(--bg-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 13px 20px 15px 20px;
}

.floppy {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  width: 21px;
  height: 21px;
}

@media (width < 768px) {
  .save-button {
    max-width: 320px;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }
}

.text-button:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--text-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.text-button:hover:after {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 10;
  text-align: center;
  mix-blend-mode: difference;
  font-size: 14px;
}

.dialog {
  display: grid;
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  max-inline-size: 357px;
  padding: 31px 32px 31px 31px;
  position: fixed;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
  left: 0;
  bottom: 0px;

}

@media (width < 768px) {
  .dialog {
    max-inline-size: 341px;
    padding: 30px 40px 30px 40px;
  }

  .dialog-save-button {
    max-inline-size: 257px;
  }
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 31px 0;
  gap: 21px;
  font-family: var(--accent-font), fantasy;
}

.dialog-save-button {
  background-color: var(--bg-color);
  max-inline-size: 310px;
  padding-top: 7px;
  padding-bottom: 8px;
}

.dialog .button__text {
  color: var(--button-color);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog-container .button__text {
  text-align: left;
}

.dialog-floppy {
  position: relative;
  z-index: 10;
  width: 40px;
  height: 40px;
  color: var(--button-color);
  mix-blend-mode: difference;
  flex-shrink: 0;
}